.vapo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #151D3B;
}

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    text-decoration: underline;
    color: #DADBBD;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #D82148;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #D82148;
}