@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: #444;
    font-size: 62.5%;
}

*, *::before, *::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #00CCFF;
    font-size: 16px;
}

a:hover{
    text-decoration: underline;
}

.container{
    max-width: 1128px;
    margin: 0 auto;
}

img, video, figure, embed{
    max-width: 100%;
}

header{
    width: 100%;
    height: 48px;
    margin-bottom: 3.6em;
    margin-top: 3.6em;
}

.logo{
    width: 20.74%; /* 234px */
    float: left;
}

nav{
    width: 74.46%; /* 840px */
    float: right;
}

nav ul{
    float: right;
}

nav li{
    font-size: 1.2em;
    margin-left: 1.77%; /* 20px */
    margin-top: 0.89%; /* 10 */
    display: inline-block;
}

nav li a{
    color: #999;
}

.banner{
    background: url('../img/banner.jpg');
    height: 450px;
    margin-bottom: 4.25%; /* 48px */
    position: relative;
}

.caixa{
    position: absolute;
    top: 4.25%; /* 48px */
    background: rgba(0, 0, 0, 0.6);
    width: 42.55%; /* 480px */
    padding: 2.13% 1.24% 2.13% 3.55%; /* 24px 14px 24px 40px */
}

h1{
    font-size: 4em;
    color: #FFF;
    margin-bottom: 0;
    margin-top: 0;
}

.caixa p{
    font-size: 1.8em;
    color: #FFF;
}

article{
    width: 23.40%;
    float: left;
    margin-right: 2.13%;
}

article:last-child{
    margin-right: 0;
}

h2{
    font-size: 2.4em;
}

p{
    font-size: 1.6em;
    text-align: justify;
}

footer{
    width: 100%;
    margin-top: 2.13%;
    margin-bottom: 2.13%;
}

.footer{
    font-size: 1em;
    margin-bottom: 0;
}